.mdl-layout__header-row.desktop-view
.mdl-layout__header-row
  h3.desktop-view {{site.author}}
  h5.mobile-view {{site.author}}
  .mdl-layout__drawer-button.mdl-layout--small-screen-only.mobile-view(
    sf-additional-drawer-button,
    corresponding-drawer-selector=".drawer"
  )
    i.material-icons menu
.mdl-layout__header-row.desktop-view
  .mdl-layout-spacer
  nav.mdl-navigation.tabs
    a.mdl-navigation__link.tab(
      ui-sref='main.homepage'
      ) 
      span.link__tab(
        ng-class="{'is-active': currentPage === 'main.homepage'}"
        ) Portfolio
    a.mdl-navigation__link.tab(
      ui-sref='main.about'
      ) 
      span.link__tab(
        ng-class="{'is-active': currentPage === 'main.about'}"
        ) About Me
    a.mdl-navigation__link.tab(
      ui-sref='main.contact'
      ) 
      span.link__tab(
        ng-class="{'is-active': currentPage === 'main.contact'}"
        ) Contact
