.mdl-layout__header-row.mdl-layout--large-screen-only
.mdl-layout__header-row.mdl-layout--large-screen-only
.mdl-layout__header-row
  h3 {{site.author}}
.mdl-layout__drawer-button(
  sf-additional-drawer-button,
  corresponding-drawer-selector=".drawer"
)
.mdl-layout__header-row.mdl-layout--large-screen-only
.mdl-layout__header-row
  .mdl-layout-spacer
  nav.mdl-navigation.tabs
    a.mdl-navigation__link.tab(
      ui-sref='main.homepage'
      ) 
      span.link__tab(
        ng-class="{'is-active': currentPage === 'main.homepage'}"
        ) Portfolio
    a.mdl-navigation__link.tab(
      ui-sref='main.about'
      ) 
      span.link__tab(
        ng-class="{'is-active': currentPage === 'main.about'}"
        ) About Me
    a.mdl-navigation__link.tab(
      ui-sref='main.contact'
      ) 
      span.link__tab(
        ng-class="{'is-active': currentPage === 'main.contact'}"
        ) Contact
