.structure.mdl-grid.about-me.animate(ng-repeat="section in routeData" ng-class="{'display-none': section.banner}")
  .mdl-card.mdl-shadow--4dp(
    class= 'no-image'
    ng-class="{'video': section.videourl}"
    )
    .mdl-card__media.entry(ng-class="{'display-none': section.title === 'intro' || section.title === 'video'}")
      h3 {{section.title}}
    .mdl-card__supporting-text(
      ng-class="{'video-width': section.videourl}"
      )
      .left-wrapper(
        ng-class="{'display-none': !section.imageurl}"
        )
        div.avatar(style="background: url({{section.imageurl}}); background-size: contain; background-repeat: no-repeat;")
      .right-wrapper(
         ng-class="{'highlight': section.title === 'intro'}"
        )
        div.videocontent(ng-if="section.videourl") 
          video(src="{{section.videourl}}" controls) 
        div.label(ng-if="section.partner") 
          span.labeltag Partner: 
          span{{section.partner}}
        div.label(ng-if="section.role") 
          span.labeltag Role: 
          span{{section.role}}
        div.label(ng-if="section.team") 
          span.labeltag Team: 
          span{{section.team}}
        span(ng-repeat="listItem in section.content.description")
          span(ng-if="section.title === 'overview'").labeltag Overview: 
          p(
            ng-class="{'overview' : section.title === 'overview'}"
            ) {{listItem}}
        ul.detail-item(ng-repeat="listDetail in section.content.detail track by $index")
          li {{listDetail}}
        p(ng-repeat="descItems2 in process.description2")
          span {{descItems2}}
    .mdl-card__actions.image-title.video-title(ng-if="section.imagemsg")
      span {{section.imagemsg}}
